<launch>
  <node name="digital_signage" pkg="rab_bringup" type="digital_signage" output="screen">
    <param name="odom_topic" value="/amcl_pose" />
  <!-- Set image near main gate -->
    <param name="first_path" value="$(find rab_bringup)/picture/nobori.jpg" />
    <param name="first_x" value="0.000" />
    <param name="first_y" value="5.000" />
  <!-- Set image to guide -->
    <param name="second_path" value="$(find rab_bringup)/picture/lab_caution.jpg" />
    <param name="second_x" value="0.000" />
    <param name="second_y" value="-5.000" />
  <!-- Set image to 4th to main gate -->
    <param name="default_path" value="$(find rab_bringup)/picture/sample.JPG" />
  </node>
</launch>
